.hr-dotted {
	border: 3px dashed #5000ca;
	border-style: none none dashed;
	margin-bottom: 3rem;
	color: #fff;
	background-color: #fff;
}
.skill-hold {
	padding-top: 2rem;
	.skill-card-hold {
		.skill-card {
			display: flex;
            width: 90%;
			justify-content: space-between;
			align-items: center;		
		}
	}
}

@media (max-width: 950px) {
	.skill-hold {
		.skill-card-hold {
			.skill-card{
				flex-direction: column;
				justify-content: center;
				align-items: flex-start;
				width: 100%;
			}

		}
	}
}

