.header {
	width: 100vw;
	height: 100vh;
	position: relative;
}

.particleHold {
	position: relative;
	width: 100%;
	height: 100%;
}
.modeToggler{
	position: fixed;
	z-index: 1111;
	cursor: pointer;
	font-size: 2rem;
	right: 50px;
	top: 50px;
}
.myVideo {
	position: fixed;
	bottom: -1383px;
	width: 100vw;
	z-index: -1;
}
.home-partition {
	background-color: #ffffffc2;
	height: 100vh;
	overflow: hidden;
	z-index: 111;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 0rem 3rem;
	.heroImg-hold{
		.image{
			display: none;
		}
	}
}
.nav {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	height: 100vh;
	position: relative;
}

.background {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: auto;
}

.nav .title {
	font-family: "Josefin Sans", sans-serif;
	font-size: 5vw;
	margin: 0;
	padding-bottom: 0.5rem;
	letter-spacing: 0.5rem;
	color: #ff0267bb;
	transition: all 0.3s ease;
	z-index: 3;
	&:hover {
		transform: translate3d(0, -10px, 22px);
		color: #d902ff;
	}
}
.intro-text {
	font-family: "ROBOTO", sans-serif;
	padding-left: 0.5rem;
	font-size: 1.5rem;
	text-transform: capitalize;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	.side-line {
		width: 40%;
		margin: 3px 0 0 1rem;
		background-color: rgba(48, 48, 48, 0.381);
		width: 20%;
		height: 2px;
	}
}
.p{
	color: #5202ff;
}
.learn-more-hold {
	width: 100%;
	.learn-more {
		text-align: center;
		border: 1px solid #5202ff;
		border-radius: 10px 0 10px 0;
		color: #5202ff;
		margin: 2rem 2rem 6rem 0;
		padding: 0.4rem 1.4rem ;
		&:nth-child(2){
			background-color:#5202ffda;
			color: white;
		}
	}
	
}
.m {
	font-size: 2vw;
	letter-spacing: 0.7em;
	font-family: "ROBOTO", sans-serif;
	font-weight: 300;
	color: #9602ff;
	z-index: 4;
	&:hover {
		color: #ff0266;
		font-weight: 500;
		font-size: 2.2vw;
	}
}
.imgSection {
	padding: 0 0 5rem 0;
	.hexImg1 {
		max-width: 20px !important;
		max-height: 5rem !important;
	}
}
@media (max-width: 1550px) {
	.myVideo {
		bottom: -70px;
	}
}
@media (max-width: 1000px){
	.m{
		font-size: 2.6vw;
	}
}
@media (max-width: 750px) {
	.header{
		height: 100vh;
	}
	.myVideo {
		bottom: 0;
	}
	.home-partition {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
		height: 100vh;
		.heroImg-hold{
			display: flex;
            justify-content: center;
			.image{
				display: block;
				width: 125%;
                transform: translateY(-20px);
			}
		}
	}
	.intro-text,
	.nav .title {
		width: 100%;
	}
	.nav {
		height: auto;
	}
	.m {
		font-size: 2.5vw;
	}
}
@media (max-width: 560px){
	.learn-more-hold{
		.learn-more{
			margin: 0.5rem 1rem 6rem 0;
			font-size: 85%;
		}
	}
	.p{
		margin-top: 0;
	}
	.nav .title{
		padding-bottom: 0;
	}
	.intro-text{
		margin-bottom: 0.5rem;
	}
}
@media (max-width: 500px) {
	.myVideo {
		top: -310px;
		width: 160%;
	}
	.learn-more-hold{
		.learn-more{
			font-size: 75%;
		}
	}
}
@media (max-width: 450px) {
	.nav {
		height: auto;
	}
	.m {
		font-size: 3.1vw;
	}
	.nav .title,
	.slider .title {
		font-size: 8vw;
	}
	.intro-text {
		padding: 0;
	}
}

@media (max-width: 375px) {
	.myVideo {
		width: 170%;
	}
	.learn-more-hold{
		.learn-more{
			font-size: 60%;
		}
	}
}
@media (max-width: 315px) {
	.myVideo {
		width: 200%;
	}
	.learn-more-hold{
		.learn-more{
			font-size: 50%;
		}
	}
}

.loader{
	height: 2rem;
	overflow: hidden;
}
.loader span {
	color: #faebd7;
	color: #5202ff;
	font-weight: 700;
	text-shadow: 0 0 0 #faebd737;
	text-shadow: 0 0 0 #7e7e7e16;
	// -webkit-animation: loading 1s ease-in-out infinite alternate;
}

@-webkit-keyframes loading {
	to {
		// text-shadow: 20px 0 70px #0217ff;
		color: #5202ff;
	}
}
.loader span:nth-child(2) {
	-webkit-animation-delay: 0.1s;
}
.loader span:nth-child(3) {
	-webkit-animation-delay: 0.2s;
}
.loader span:nth-child(4) {
	-webkit-animation-delay: 0.3s;
}
.loader span:nth-child(5) {
	-webkit-animation-delay: 0.4s;
}
.loader span:nth-child(6) {
	-webkit-animation-delay: 0.5s;
}
.loader span:nth-child(7) {
	-webkit-animation-delay: 0.6s;
}
.loader span:nth-child(8) {
	-webkit-animation-delay: 0.7s;
}
.loader span:nth-child(9) {
	-webkit-animation-delay: 0.8s;
}

.loader span:nth-child(10) {
	-webkit-animation-delay: 0.9s;
}
.loader span:nth-child(11) {
	-webkit-animation-delay: 1s;
}
.loader span:nth-child(12) {
	-webkit-animation-delay: 1.1s;
}
.loader span:nth-child(13) {
	-webkit-animation-delay: 1.2s;
}
.loader span:nth-child(14) {
	-webkit-animation-delay: 1.3s;
}
.loader span:nth-child(15) {
	-webkit-animation-delay: 1.4s;
}
.loader span:nth-child(16) {
	-webkit-animation-delay: 1.5s;
}
.loader span:nth-child(17) {
	-webkit-animation-delay: 1.6s;
}
.loader span:nth-child(18) {
	-webkit-animation-delay: 1.7s;
}
.loader span:nth-child(19) {
	-webkit-animation-delay: 1.8s;
}
.loader span:nth-child(20) {
	-webkit-animation-delay: 1.9s;
}
.loader span:nth-child(21) {
	-webkit-animation-delay: 2s;
}

