.hr-dotted {
	border: 3px dashed #5000ca;
	border-style: none none dashed;
	margin-bottom: 3rem;
	color: #fff;
	background-color: #fff;
	width: 70%;
}
.skill-hold {
	.resume-hold {
		text-align: center;
		padding: 3rem 0 5rem 0;
		.resume {
			background-color: #5000ca;
			text-align: center;
			padding: 0.7rem 1.5rem;
			box-shadow: none;
			border-radius: 20px 0 20px 0;
		}
	}
	.skill-card-hold {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2rem 2rem;
		.skill-card {
			overflow: hidden;
			position: relative;
			cursor: pointer;
			width: max-content;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			padding: 1rem 1rem 0 1rem;
			width: 17rem;
			height: max-content;
			margin: 1rem 0rem;
			.img {
				width: 60%;
				height: 150%;
				margin: 0.5rem 2rem;
			}
			p{
				text-align: center;
			}
		}
	}
}

@media (max-width: 1000px) {
	.skill-hold {
		.skill-card-hold {
			padding: 0;
			.skill-card {
				margin: 0.5rem;
				.img {
					width: 4rem;
					height: 4rem;
				}
			}
		}
	}
}

@media (max-width: 550px) {
	.skill-hold {
		.skill-card-hold {
			.skill-card {
				padding: 1.5rem 0 0 0;
				width: 6rem;
				.img {
					width: 2rem;
					height: 2rem;
				}
			}
		}
	}
}
