//Titles
.titles {
	font-size: 3rem;
	padding: 2rem 2rem 3rem 2rem;
	text-align: center;
	width: 100%;
}
//Navbar
.hamburgerMenu {
	position: fixed;
	z-index: 1111;
	cursor: pointer;
	left: 50px;
	top: 45px;
	.icon {
		color: black;
		font-size: 2.3rem;
	}
}
.appbar {
	background-color: transparent;
	overflow: hidden;
	color: #5000ca;
	box-shadow: none;
	position: sticky;
	top: 0px;
	.myIcon {
		width: 65px;
		padding: 1.7rem 0 0 0;
	}
	.navItem {
		color: black;
	}
}

//bouncing arrow
/* Scroll down indicator (bouncing) */

@-webkit-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateX(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@-moz-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-ms-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-ms-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

.bounce {
	margin-top: 3rem; 
	margin-bottom: 4rem;
	text-align: center;
	cursor: pointer;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
	font-size: 2rem;
}

//progressBar
.progressBarHold{
	display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
	.ParentDiv{
		height: 5px;
		width: 100%;
		background-color: whitesmoke;
		border-radius: 10px 0 10px 0;
		.ChildDiv{
			height: 100%;
			background-color: #5000ca;
			border-radius: 10px 0 10px 0;
			text-align: right;
		}
	}
	.progressText{
		padding: 0 0 0 1rem;
		color: black;
		font-weight: 500;
		font-size: 0.8rem;
	}
}

//footer
.footer {
	position: relative;
	margin-top: 8rem;
	background: #5000ca;
	color: #e0d9ec;
	img {
		width: 100%;
	}
	.footer-content {
		padding: 2rem 4rem 0 4rem;
		.content {
			display: flex;
			align-items: center;
			.text {
				flex: 0.487;
			}
			.icon-hold {
				display: flex;
				justify-content: center;
			}
			.icon {
				padding: 0.8rem 0.8rem 0.4rem 0.8rem;
				width: max-content;
				height: max-content;
				border: 2px solid;
				margin: 1rem;
				font-size: 1.5rem;
				cursor: pointer;
			}
		}
		.my-pic {
			border-radius: 50%;
			position: absolute;
			top: -110px;
			width: 15rem;
			right: 12%;
			border: 12px solid #5000ca;
			height: auto;
		}
		.bottom-nav {
			margin-top: 4rem;
			text-align: center;
			display: flex;
			justify-content: center;
			.navs {
				cursor: pointer;
			}
		}
	}
	.next-js {
		margin: 0 3rem;
		border-top: 2px solid #7797ed4d;
		padding: 1.5rem 0.5rem;
		text-align: center;
	}
}

@media (max-width: 1010px) {
	.footer {
		.footer-content {
			.content {
				display: block;
				.icon-hold {
					margin-top: 4rem;
				}
			}
		}
	}
}

@media(max-width: 950px) {
	.progressBarHold{
		width: 100%;
	}
}

@media (max-width: 750px) {
	.titles {
		font-size: 2rem;
		padding: 1rem 1rem 2rem 1rem;
	}
	.footer {
		margin-top: 8rem;
		.footer-content {
			padding: 6.5rem 2rem 2rem 2rem;
			.content {
				.icon-hold {
					margin-top: 2.5rem;
				}
			}
			.my-pic {
				top: -91px;
				right: 0%;
				left: 50%;
				transform: translateX(-50%);
				width: 12rem;
				border: 9px solid #5000ca;
			}
			.bottom-nav {
				display: none;
			}
		}
	}
}
