.about-hold {
	height: max-content;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	padding: 2rem 4rem 2rem 4rem;
	.about-me {
		flex: 65%;
		margin: 3rem 0rem 3rem 0;
		.about-heading {
			transform: translateY(-14px);
			font-size: 2rem;
			color: #5000ca;
		}
		.about-content {
			width: 90%;
			padding: 0 0 1rem 0;
			font-size: 1.2rem;
			font-weight: 500;
			color: black;
		}

		.design {
			width: 100%;
			position: relative;
			height: 3px;
			background-color: #5000ca;
			margin-top: 4rem;
			&::before {
				content: "";
				width: 1.7rem;
				height: 1.7rem;
				position: absolute;
				background: #5000ca;
				border-radius: 50%;
				transform: translate(-3px, -12px);
			}
		}
	}
	.qualification {
		flex: 35%;
		padding: 2rem 0rem 2rem 0rem;
		.description {
			text-align: left;
			display: flex;
			align-items: center;
			color: #000;
			h2 {
				font-size: 1.4rem;
				font-weight: 400;
				color: #5000ca;
			}
			p {
				margin: 0;
				font-size: 1rem;
				font-weight: 600;
			}
			.icon {
				font-size: 4rem;
				border: 1px solid darkgray;
				border-radius: 50%;
				padding: 0.6rem;
				margin: 2rem 2rem 2rem 0;
			}
		}
	}
}

@media (max-width: 950px) {
	.about-hold {
		height: auto;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2rem;
		.about-me{
			padding: 0;
			margin: 0;
			width: 100%;
			.about-content{
				width: 100%;
			}
		}
		.qualification {
			text-align: center;
			padding: 4rem 2rem 0rem 2rem;
			.aboutImg{
				width: 90%;
			}
		}
	}
}

@media (max-width: 850px) {
	.about-hold {
		.qualification {
			padding: 4rem 2rem 0rem 2rem;
			.description {
				.icon {
					font-size: 4rem;
					margin: 0 2rem 0 0;
				}
				h2 {
					font-size: 1.7rem;
				}
			}

			.design {
				width: 100%;
				position: relative;
				height: 3.6px;
				background-color: #5000ca;
				margin-top: 4rem;
				&::before {
					content: "";
					width: 1.7rem;
					height: 1.7rem;
					position: absolute;
					background: #5000ca;
					border-radius: 50%;
					right: 0;
					transform: translate(3px, -12px);
				}
			}
		}
		.about-me {
			margin: 2rem;
			padding: 0 1rem;
		}
	}
}

@media (max-width: 650px) {
	.about-hold {
		padding: 2rem 2rem 2rem 2rem;
		.qualification {
			padding: 2rem 2rem 0rem 3rem;
			.aboutImg{
				width: 100%;
			}
			.description {
				.icon {
					font-size: 3rem;
					margin: 0 1rem 0 0;
				}
				h2 {
					font-size: 1.3rem;
				}
			}
		}
		.about-me {
			margin: 2rem;
			padding: 0;
			.about-content {
				font-size: 1rem;
			}
		}
	}
}
@media (max-width: 600px){
	.about-hold{
		padding: 2rem 2rem;
		.qualification{
			font-size: 90%;
			padding: 1rem 0rem 1rem 0rem;
		}
	}
}
