.contacts-hold {
	margin: 2rem 1rem 9rem 1rem;
	display: flex;
	justify-content: space-evenly;
    align-items: center;
    text-align: center;
    .horizontal{
        display: none;
    }
    .vertical{
        display: block;
    }
	.contacts{
        margin: 2rem;
        .my-contacts {
            display: flex;
            flex-direction: column;
            justify-self: center;
            align-items: center;
            margin-top: 2rem;
            .items {
                color: black;
                cursor: pointer;
                display: flex;
                justify-content: left;
                align-items: center;
                padding: 0.3rem 2rem;
                background: #66339926;
                border-radius: 20px 0;
                width: 100%;
                border: 1px solid #6426d4;
                margin: 0.5rem 0;
                a{
                    padding: 0.9rem 0;
                }
                .icon{
                    color: #6426d4;
                    font-size: 1.5rem;
                    margin: 0 1rem;
                }
            }
        }
    }
	.form-hold {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 35rem;
		margin: 2rem;
		.text-field {
			margin: 1rem;
			width: 100%;
		}
		.button {
			align-self: flex-start;
            margin-top: 1rem;
            background-color: #5000ca;
            border-radius: 20px 0 20px 0;
            cursor: pointer;
            &:disabled{
                background-color: #5100ca3f;
            }
		}
	}
}

@media (max-width: 750px) {
	.contacts-hold {
		flex-direction: column;
		align-items: center;
        .horizontal {
            display: block;
        }
        .vertical{
            display: none;
        }
	}
}
@media (max-width: 600px) {
	.contacts-hold {
		.my-contacts {
		}
		.form-hold {
			width: 95%;
		}
	}
}
