// theme

$dark-mode: black;
$ligt-mode: white;

$dark-purple : #42046b;
$medium-purple : #6426d4;
$light-purple: #7797ed;
$dim-purple: #e0d9ec;

//media width
$ipad-screen: '(max-width: 1200px) and (min-width: 750px)';
$mobile-screen: '(max-width: 750px)';
